.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  margin-left: 0.25em;
  font-size: 60px;
}

nav {
  display: flex;
  list-style: none;
  min-width: 370px;
  justify-content: space-between;
  margin-right: 1em;
  font-size: 26px;
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 24px;
  }
  nav {
    font-size: 16px;
    min-width: 240px;
  }
}
